body {
  background-color: #000080; /* Warna Biru Tua */
  font-family: Arial, Sans Serif; /* Jenis Huruf Yang Bersih dan Mudah Dibaca */
  color: #ffffff; /* Wrana Tekes Utama (Putih) */
}

.kartu-profil {
  width: 300px; 
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kanan/kiri */
  padding: 20px;
  background-color: black;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* efek bayangan */
  text-align: center; /* menengahkan semua teks di dalam kartu */
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%; /* trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}
